<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Register/Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <script src="{% static 'user/js/script.js' %}"></script>
</head>

<body>
    <div class="container">
        <h1 class="mb-3 title">FootballMania (Not Soccer)   JOIN THE FUN TODAY!</h1>
        <div class="row mt-2">
            <div class="col-6">
                <h2>Register</h2>
                <form id="Register" action="/invalid_registration" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                       
                        <p class="text-danger">{{ message.FirstName}}</p>
                        
                        
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control col-6" id="FirstName" name="FirstName"
                            placeholder="Insert First Name">
                    </div>
                    <div class="form-group">
                       
                        <p class="text-danger">{{ message.LastName }}</p>
                
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control col-6" id="LastName" name="LastName"
                            placeholder="Insert Last Name">
                    </div>
                    <div class="form-group">
                            <p class="text-danger">{{ message.DisplayName }}</p>
                        <label for="DisplayName">Display Name</label>
                        <input type="text" class="form-control col-6" id="DisplayName" name="DisplayName"
                            placeholder="Choose a Display Name">
                    </div>
                    <div class="form-group">
                            <p class="text-danger">{{ message.Email }}</p>
                        <label for="Email">Email</label>
                        <input type="text" class="form-control col-6" id="Email" name="Email"
                            placeholder="Insert Email">
                    </div>
                    <div class="form-group">
                        <p class="text-danger">{{ message.Password }}</p>
                        <label for="Password">Password</label>
                        <input type="password" class="form-control col-6" id="Password" name="Password">
                    </div>
                    <div class="form-group">
                        <p class="text-danger">{{ message.Confirm }}</p>
                        <p class="tiny">At least 1 lowercase, 1 uppercase, 1 special character or number, and a minimum
                            length of 8 </p>
                        <label for="Confirm">Confirm Password</label>
                        <input type="password" class="form-control col-6" id="Confirm" name="Confirm">
                    </div>
                    <input type="submit" class="btn btn-dark" value="Register">

                </form>

            </div>

            <div class="col-6">
                <h2>Login</h2>
                <form id="Login" action="/invalid_login" method="post">
                    {% csrf_token %}
                    <p class="text-danger">{{ message.Login}}</p>

                    <div class="form-group">
                        <label for="LoginEmail">Email</label>
                        <input type="text" class="form-control col-6" id="LoginEmail" name="LoginEmail"
                            placeholder="Insert Email">
                    </div>
                    <div class="form-group">
                        <label for="LoginPassword">Password</label>
                        <input type="password" class="form-control col-6" id="LoginPassword" name="LoginPassword">
                    </div>
                    <input type="submit" class="btn btn-dark" value="Login">

                </form>
            </div>
        </div>
    </div>

</body>

</html>